.main{
  
  text-align: center;
  background-color: rgb(227, 178, 206);
   width:50%;
   padding: 20px;
   height: 100vh;
  
}
.main h3{
  color:rgb(13, 13, 156)
}
.add-item{
  margin-bottom: 20px !important;
}
.add-item input{
  outline: none !important;
  border: none !important;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}
.add-item input::placeholder{
  font-size: 13px;
  color:black;
}
.box{
width:16%;
margin: auto;

  }
.show{
  display: flex;
  justify-content:space-between;
  background-color: rgb(61, 7, 94);
  color:#fff;
  border-radius: 30px;
  padding: 2px 6px;
  margin-bottom: 10px;
  }
  .show h3{
    font-size: 18px;
    font-weight: 400;
    color:white;
    padding-top: 5px;
  }
  .show i{
    margin-top: 8px !important;
    font-size: 20px;
  }
  
  .buttons{
    margin-top: 20px !important;
  }
  .buttons button{
    background-color: rgb(230, 141, 9);
    color:#fff;
    font-size: 14px;
    font-weight: 200;
    outline: none;
    border:none;
    padding: 8px 24px;
    border-radius: 20px 20px 20px 20px;
  }
 
